@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

@section head{

    <link href="http://r.xieqj.cn/css/blog/list.css" rel="stylesheet" />
}
<nav>
    <ul>
        <li><a href="@Url.Action("list")">操作手册</a></li>
        <li><a href="@Url.Action("list")">凝点系列</a></li>
        <li><a href="@Url.Action("list")">日积月累</a></li>
        <li><a href="@Url.Action("list")">他山石</a></li>
        <li><a href="@Url.Action("list")" class="a1">项目</a></li>
        <li><a href="@Url.Action("list")" class="a1">我</a></li>
    </ul>
</nav>
<div class="settings">
    <a href="http://www.miitbeian.gov.cn" style=" text-decoration:none; color:Gray;">京ICP备15011783号-1</a>
    邮箱:<a target="_blank" href="mailto:webadmin@war2045.com" style="text-decoration:none;color:Gray;">webadmin@war2045.com</a>
</div>
<div class="wrapper">
    <div class="demo">
        <a href="@Url.Action("list")" title="点击查看更多">
            <h1>栏目标题</h1>
        </a>
        <ul>
            <li class="demoli">
                <a href="@Url.Action("Detail")" class="newlink">标题标题标题标题标题标题标题标题标题标题标题标题标题标题</a>
                <p>文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介</p>
            </li>
            <li class="demoli">
                <a href="@Url.Action("Detail")" class="newlink">标题标题标题标题标题标题标题标题标题标题标题标题标题标题</a>
                <p>文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介</p>
            </li>
            <li class="demoli">
                <a href="@Url.Action("Detail")" class="newlink">标题标题标题标题标题标题标题标题标题标题标题标题标题标题</a>
                <p>文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介</p>
            </li>
            <li class="demoli">
                <a href="@Url.Action("Detail")" class="newlink">标题标题标题标题标题标题标题标题标题标题标题标题标题标题</a>
                <p>文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介</p>
            </li>
            <li class="demoli">
                <a href="@Url.Action("Detail")" class="newlink">标题标题标题标题标题标题标题标题标题标题标题标题标题标题</a>
                <p>文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介文章简介</p>
            </li>
        </ul>

    </div>
    <div class="more"><a href="javascript:"><h6>更多...</h6></a></div>
</div>
@section jsPackage{
    <script src="http://r.xieqj.cn/js/blog/list.js"></script>
}

